@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  font-family: "Poppins";
  font-weight: 700;
}

body {
  transition: 0.1s ease-in;
  position: fixed;
  margin: 0;
  width: 100lvw;
  height: 100lvh;
  --bg-color: #dfe6e9;
  --_total-element-space: calc(100vh / 6);
  --element-space: calc(var(--_total-element-space) * 0.8);
  --element-padding: calc(var(--_total-element-space) * 0.2);
  background-color: var(--bg-color);
  overflow: hidden;
}

.name {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-weight: bold;
}

.name span,
.name {
  font-size: 40px;
}

.name .fucsia {
  color: #fc427b;
}

.name .blue {
  color: #3b3b98;
}

.information-container {
  position: absolute;
  font-size: 30px;
  right: 30px;
  top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.information-container .point-container {
  margin-right: 10px;
}

.information-container .round-time-bar {
  height: 15px;
  width: 400px;
  padding: 2px 2px;
  border: 3px solid black;
  border-radius: 10px;
  display: grid;
  place-items: center;
}

.information-container .round-time-bar div {
  height: 15px;
  width: 400px;
  background: black;
  border-radius: 10px;
  animation-name: roundtime;
  animation-duration: calc(var(--duration) * 1s);
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  transform-origin: right center;
}

@keyframes roundtime {
  to {
    transform: scaleX(0);
  }
}

.stripes-container {
  font-size: 80px;
  position: absolute;
  height: 100lvh;
  left: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.row-indicators-container,
.results-container,
.stripe {
  position: relative;
  height: 100lvh;
  padding: 0px 0;
}

.row-indicators-container {
  translate: 60px 0;
  z-index: 1;
}

.stripe {
  box-shadow: rgba(100, 100, 111, 0.3) 5px 0px 20px 2px;
  width: 150px;
}

.row-indicators-container,
.results-container,
.inner-stripe {
  display: flex;
  flex-direction: column;
  padding: calc(var(--element-space) / 2) 0;
  gap: var(--element-padding);
  transition: 0s;
}

.inner-stripe {
  position: absolute;
  height: auto;
  width: 150px;
}

:is(.row-indicators-container, .results-container, .inner-stripe) .element {
  width: 100%;
  height: var(--element-space);
  text-align: center;
  user-select: none;
  pointer-events: none;
}

.row-indicator.element {
  position: relative;
  width: 100px;
  height: var(--element-space);
}

.row-indicator.element img {
  display: block;
  margin: auto;
  height: 100%;
}

.inner-stripe .number {
  color: var(--bg-color);
  display: grid;
  place-items: center;
}

.inner-stripe .number p {
  margin: 0;
  height: 100%;
}

.stripe .number:active {
  cursor: grabbing;
}

.stripe:not(:has(.number)) {
  display: none;
}

.stripes-container .stripe {
  --color: #3b3b98;
  background-color: var(--color);
  background: linear-gradient(0deg, var(--color) 0%, rgb(212, 212, 212) 600%);
}

.stripes-container .stripe:nth-of-type(3) {
  --color: #fc427b;
}

.stripes-container .stripe:nth-of-type(4) {
  --color: #00b894;
}

body.win {
  --bg-color: #2ecc71;
}

body.win .stripe {
  background: unset !important;
  background-color: white !important;
}

dialog {
  position: fixed;
  border: none;
  outline: none;
  width: 60lvw;
  border-radius: 15px;
  margin: 0 auto;
  top: calc(50% - 200px);
  z-index: 2;
}

dialog#instrucions-modal {
  width: 60lvw;
}

dialog#gameover-modal {
  width: 40lvw;
}

dialog p {
  margin: 0;
  width: 100%;
  font-weight: 400;
  text-align: left;
  text-wrap: pretty;
}

dialog :is(.instructions-wrapper, .gameover-wrapper) {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 15px;
}

dialog .instructions-wrapper .instructions-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  margin: 0 30px;
}

dialog .instructions-wrapper .instructions-content video {
  width: 100%;
}

.newgame-btn {
  margin-top: 30px;
  width: fit-content;
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  outline: none;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  user-select: none;
}

.newgame-btn:hover,
.newgame-btn:active {
  opacity: 0.75;
}

@media (pointer: coarse) and (orientation: portrait) {
  body {
    --_total-element-space: calc(100vw / 6);
    overflow: hidden;
  }

  .stripes-container {
    font-size: 120px;
    position: absolute;
    width: 100lvw;
    top: 20lvh;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .results-container {
    font-size: 50px;
  }

  .stripe {
    width: 100vw;
    height: var(--element-space);
  }

  :is(.row-indicators-container, .results-container, .inner-stripe) {
    flex-direction: row;
    gap: var(--element-padding);
    height: auto;
    padding: 0 calc(var(--element-space) / 2);
    width: 100lvw;
  }

  :is(.row-indicators-container, .results-container, .inner-stripe) .element {
    height: 100%;
    width: var(--element-space);
    height: auto;
  }

  .row-indicators-container {
    translate: 0 10px;
  }

  .row-indicator.element {
    height: var(--element-space);
    width: var(--element-space);
  }

  .row-indicators-container .element img {
    rotate: 90deg;
  }

  #result-number p {
    white-space: nowrap;
    scale: 0.8;
  }

  .information-container {
    width: 90lvw;
    padding: 0 50px;
    right: 0;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .information-container .point-container {
    margin: 0px;
  }

  .information-container .round-time-bar {
    height: 15px;
    width: 100%;
    padding: 2px 2px;
    border: 3px solid black;
    border-radius: 10px;
    display: grid;
    place-items: center;
  }

  .information-container .round-time-bar div {
    height: 15px;
    width: 100%;
    background: black;
    border-radius: 10px;
    animation-name: roundtime;
    animation-duration: calc(var(--duration) * 1s);
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transform-origin: right center;
  }

  dialog .instructions-wrapper .instructions-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 0 30px;
  }

  dialog {
    width: 80lvw;
    border-radius: 15px;
    margin: 0 auto;
    top: 20%;
    z-index: 2;
  }

  dialog#instrucions-modal {
    width: 80lvw;
  }

  dialog#gameover-modal {
    width: 80lvw;
  }
}
